In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:.6f}'.format

#멧플로립에서 음수를 표시
plt.rc('axes',unicode_minus=False)
import matplotlib.pyplot as plt

# plt.rc('font', family='NanumBarunGothic')

#워닝 메시지
import warnings
warnings.filterwarnings('ignore')

In [59]:
df = pd.read_csv('/content/drive/MyDrive/ubion_finance/Datasets/경기소비재지수_Total (1).csv')
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,2009/12/30,1226.750000,15.030000,1.240000,0.000000,0.000000,0.000000,19857.000000,487849.000000,100859720.000000
1,2009/12/29,1211.720000,-2.280000,-0.190000,0.000000,0.000000,0.000000,14284.000000,344548.000000,99730995.000000
2,2009/12/28,1214.000000,-9.450000,-0.770000,0.000000,0.000000,0.000000,29228.000000,712699.000000,100048915.000000
3,2009/12/24,1223.450000,28.350000,2.370000,0.000000,0.000000,0.000000,31707.000000,658245.000000,101121850.000000
4,2009/12/23,1195.100000,16.310000,1.380000,0.000000,0.000000,0.000000,19659.000000,450905.000000,98740391.000000
...,...,...,...,...,...,...,...,...,...,...
3786,2022/01/07,1778.990000,11.140000,0.630000,1769.150000,1788.430000,1768.590000,8448.000000,657256.000000,169172340.000000
3787,2022/01/06,1767.850000,11.150000,0.630000,1746.920000,1787.120000,1743.400000,11413.000000,942057.000000,168113420.000000
3788,2022/01/05,1756.700000,15.080000,0.870000,1749.870000,1779.170000,1747.510000,13597.000000,1005796.000000,167339329.000000
3789,2022/01/04,1741.620000,1.590000,0.090000,1741.640000,1750.260000,1731.310000,8134.000000,470900.000000,165777327.000000
3790,2022/01/03,1740.030000,8.080000,0.470000,1742.540000,1747.290000,1727.570000,5761.000000,361141.000000,165564933.000000

In [63]:
df.loc[df['거래량'] == 0]

Empty DataFrame
Columns: [일자, 종가, 대비, 등락률, 시가, 고가, 저가, 거래량, 거래대금, 상장시가총액]
Index: []

In [64]:
df.isna().sum()

일자        0
종가        0
대비        0
등락률       0
시가        0
고가        0
저가        0
거래량       0
거래대금      0
상장시가총액    0
dtype: int64

In [45]:
df = df.set_index('일자')

In [46]:
df = df.sort_index()

In [47]:
OBV = []
OBV.append(0)
for i in range(1, len(df['종가'])):
  if df['종가'][i] > df['종가'][i-1]:
    OBV.append(OBV[-1] + df['거래량'][i])
  elif df['종가'][i] < df['종가'][i-1]:
    OBV.append(OBV[-1] - df['거래량'][i])
  else:
    OBV.append(OBV[-1])

In [48]:
df['OBV'] = OBV

In [49]:
df[['종가', '거래량', 'OBV']]

                    종가          거래량            OBV
일자
2008/01/02 1000.000000 11548.000000       0.000000
2008/01/03 1009.270000  9688.000000    9688.000000
2008/01/04 1007.090000  9837.000000    -149.000000
2008/01/07  991.260000  9570.000000   -9719.000000
2008/01/08  994.280000 11085.000000    1366.000000
...                ...          ...            ...
2023/04/24 1537.650000  9579.000000 2156895.000000
2023/04/25 1561.090000 12330.000000 2169225.000000
2023/04/26 1535.130000 13484.000000 2155741.000000
2023/04/27 1534.020000  9418.000000 2146323.000000
2023/04/28 1519.950000  9236.000000 2137087.000000

[3791 rows x 3 columns]

In [50]:
# df['OBV'].ewm(com=20).mean() # 지수가중평균 #com : 질량중심 값으로 평활계수를 계산합니다.

In [51]:
df.index.dtype

dtype('O')

In [52]:
df.index = pd.to_datetime(df.index)
df

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액,OBV
일자,,,,,,,,,,
2008-01-02,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11548.000000,434189.000000,83891524.000000,0.000000
2008-01-03,1009.270000,9.270000,0.930000,0.000000,0.000000,0.000000,9688.000000,327829.000000,84600459.000000,9688.000000
2008-01-04,1007.090000,-2.180000,-0.220000,0.000000,0.000000,0.000000,9837.000000,299139.000000,84380567.000000,-149.000000
2008-01-07,991.260000,-15.830000,-1.570000,0.000000,0.000000,0.000000,9570.000000,346957.000000,83244361.000000,-9719.000000
2008-01-08,994.280000,3.020000,0.300000,0.000000,0.000000,0.000000,11085.000000,291301.000000,83448962.000000,1366.000000
...,...,...,...,...,...,...,...,...,...,...
2023-04-24,1537.650000,13.480000,0.880000,1529.430000,1541.610000,1525.120000,9579.000000,476835.000000,152588060.000000,2156895.000000
2023-04-25,1561.090000,23.440000,1.520000,1543.360000,1564.030000,1523.000000,12330.000000,961498.000000,155279742.000000,2169225.000000
2023-04-26,1535.130000,-25.960000,-1.660000,1573.120000,1581.290000,1533.260000,13484.000000,1172435.000000,153223292.000000,2155741.000000
2023-04-27,1534.020000,-1.110000,-0.070000,1532.740000,1552.660000,1525.670000,9418.000000,590337.000000,153169788.000000,2146323.000000
2023-04-28,1519.950000,-14.070000,-0.920000,1534.740000,1536.670000,1514.680000,9236.000000,601987.000000,151592163.000000,2137087.000000

In [53]:
df = df.reset_index()

In [54]:
df['년도'] = df['일자'].dt.year

In [55]:
df['월'] = df['일자'].dt.month
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액,OBV,년도,월
0,2008-01-02,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11548.000000,434189.000000,83891524.000000,0.000000,2008,1
1,2008-01-03,1009.270000,9.270000,0.930000,0.000000,0.000000,0.000000,9688.000000,327829.000000,84600459.000000,9688.000000,2008,1
2,2008-01-04,1007.090000,-2.180000,-0.220000,0.000000,0.000000,0.000000,9837.000000,299139.000000,84380567.000000,-149.000000,2008,1
3,2008-01-07,991.260000,-15.830000,-1.570000,0.000000,0.000000,0.000000,9570.000000,346957.000000,83244361.000000,-9719.000000,2008,1
4,2008-01-08,994.280000,3.020000,0.300000,0.000000,0.000000,0.000000,11085.000000,291301.000000,83448962.000000,1366.000000,2008,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3786,2023-04-24,1537.650000,13.480000,0.880000,1529.430000,1541.610000,1525.120000,9579.000000,476835.000000,152588060.000000,2156895.000000,2023,4
3787,2023-04-25,1561.090000,23.440000,1.520000,1543.360000,1564.030000,1523.000000,12330.000000,961498.000000,155279742.000000,2169225.000000,2023,4
3788,2023-04-26,1535.130000,-25.960000,-1.660000,1573.120000,1581.290000,1533.260000,13484.000000,1172435.000000,153223292.000000,2155741.000000,2023,4
3789,2023-04-27,1534.020000,-1.110000,-0.070000,1532.740000,1552.660000,1525.670000,9418.000000,590337.000000,153169788.000000,2146323.000000,2023,4
3790,2023-04-28,1519.950000,-14.070000,-0.920000,1534.740000,1536.670000,1514.680000,9236.000000,601987.000000,151592163.000000,2137087.000000,2023,4

In [56]:
df.groupby(['년도','월']).mean()['OBV']

년도    월
2008  1     -23192.863636
      2     -22315.166667
      3     -17449.000000
      4     103164.619048
      5     158735.368421
                ...
2022  12   2108661.428571
2023  1    2126820.400000
      2    2126398.700000
      3    2134144.363636
      4    2155713.700000
Name: OBV, Length: 184, dtype: float64

In [40]:
OBV = df.groupby(['년도','월']).mean()['OBV'].values

In [39]:
df2 = pd.read_csv('/content/drive/MyDrive/ubion_finance/Datasets/newnew_data.csv',index_col=0)
df2

,재고순환지표,경제심리지수,기계류내수출,건설수주액,수출입물가비율,코스피,장단기,외환보유액,뉴스심리지수,원달러,...,CD,유가,G20,미장단기,거래량,구리,천연가스,은,금,종가
Date,,,,,,,,,,,,,,,,,,,,,
2008-01,5.000000,112.100000,98.500000,10384.800000,105.100000,1853.700000,0.670000,261870733.000000,98.540000,936.800000,...,5.840000,26.816444,101.558900,1.030000,11548.000000,3.064000,7.850000,15.290000,860.000000,1000.000000
2008-02,3.900000,112.000000,98.400000,9246.100000,103.700000,1775.300000,0.530000,262364808.000000,97.880000,944.100000,...,5.460000,26.276930,101.286800,1.530000,13564.000000,3.273000,7.740000,16.916000,913.500000,897.970000
2008-03,3.200000,110.500000,98.400000,9434.400000,102.200000,1691.000000,0.310000,264245660.000000,88.120000,946.700000,...,5.170000,26.771666,100.974300,1.930000,9948.000000,3.928500,9.346000,20.180000,984.200000,873.820000
2008-04,0.400000,109.400000,98.900000,10121.700000,100.700000,1705.800000,0.140000,260482546.000000,103.730000,983.500000,...,5.390000,27.311699,100.601400,1.770000,13964.000000,3.806500,9.724000,16.935000,887.800000,965.780000
2008-05,-1.600000,106.100000,98.500000,9955.600000,98.600000,1758.200000,0.220000,258198958.000000,93.060000,1009.100000,...,5.360000,25.481760,100.145200,1.410000,16690.000000,3.694500,10.561000,16.205000,850.900000,1056.740000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12,-10.400000,92.700000,115.400000,10568.500000,85.200000,2336.400000,0.840000,423163664.000000,83.390000,1304.210000,...,4.030000,76.773430,98.935240,-0.720000,8411.000000,3.817500,6.738000,22.841000,1815.200000,1435.740000
2023-01,-15.400000,90.900000,111.200000,13969.700000,85.100000,2380.400000,0.450000,429967671.000000,93.790000,1269.020000,...,3.980000,78.254589,98.971380,-0.610000,10487.000000,3.795250,4.273500,24.328000,1835.800000,1343.910000
2023-02,-16.200000,91.100000,106.900000,14725.600000,84.600000,2391.300000,0.180000,425286150.000000,97.480000,1221.780000,...,3.590000,74.513809,99.024580,-0.700000,9732.000000,4.111000,2.468000,23.609000,1927.800000,1439.490000
2023-03,-16.500000,91.100000,101.000000,14189.900000,84.400000,2410.100000,0.070000,426069328.000000,94.170000,1310.950000,...,3.610000,73.301552,99.081200,-0.880000,14870.000000,4.076000,2.765000,20.766000,1840.500000,1488.620000
2023-04,-16.900000,92.300000,101.500000,10336.900000,84.300000,2463.700000,-0.050000,426683640.000000,95.030000,1307.890000,...,3.590000,74.881462,99.135100,-0.540000,9171.000000,4.045500,2.097000,24.021000,1983.900000,1487.660000

In [41]:
df2['OBV'] = OBV

In [42]:
df2

,재고순환지표,경제심리지수,기계류내수출,건설수주액,수출입물가비율,코스피,장단기,외환보유액,뉴스심리지수,원달러,...,유가,G20,미장단기,거래량,구리,천연가스,은,금,종가,OBV
Date,,,,,,,,,,,,,,,,,,,,,
2008-01,5.000000,112.100000,98.500000,10384.800000,105.100000,1853.700000,0.670000,261870733.000000,98.540000,936.800000,...,26.816444,101.558900,1.030000,11548.000000,3.064000,7.850000,15.290000,860.000000,1000.000000,-23192.863636
2008-02,3.900000,112.000000,98.400000,9246.100000,103.700000,1775.300000,0.530000,262364808.000000,97.880000,944.100000,...,26.276930,101.286800,1.530000,13564.000000,3.273000,7.740000,16.916000,913.500000,897.970000,-22315.166667
2008-03,3.200000,110.500000,98.400000,9434.400000,102.200000,1691.000000,0.310000,264245660.000000,88.120000,946.700000,...,26.771666,100.974300,1.930000,9948.000000,3.928500,9.346000,20.180000,984.200000,873.820000,-17449.000000
2008-04,0.400000,109.400000,98.900000,10121.700000,100.700000,1705.800000,0.140000,260482546.000000,103.730000,983.500000,...,27.311699,100.601400,1.770000,13964.000000,3.806500,9.724000,16.935000,887.800000,965.780000,103164.619048
2008-05,-1.600000,106.100000,98.500000,9955.600000,98.600000,1758.200000,0.220000,258198958.000000,93.060000,1009.100000,...,25.481760,100.145200,1.410000,16690.000000,3.694500,10.561000,16.205000,850.900000,1056.740000,158735.368421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12,-10.400000,92.700000,115.400000,10568.500000,85.200000,2336.400000,0.840000,423163664.000000,83.390000,1304.210000,...,76.773430,98.935240,-0.720000,8411.000000,3.817500,6.738000,22.841000,1815.200000,1435.740000,2108661.428571
2023-01,-15.400000,90.900000,111.200000,13969.700000,85.100000,2380.400000,0.450000,429967671.000000,93.790000,1269.020000,...,78.254589,98.971380,-0.610000,10487.000000,3.795250,4.273500,24.328000,1835.800000,1343.910000,2126820.400000
2023-02,-16.200000,91.100000,106.900000,14725.600000,84.600000,2391.300000,0.180000,425286150.000000,97.480000,1221.780000,...,74.513809,99.024580,-0.700000,9732.000000,4.111000,2.468000,23.609000,1927.800000,1439.490000,2126398.700000
2023-03,-16.500000,91.100000,101.000000,14189.900000,84.400000,2410.100000,0.070000,426069328.000000,94.170000,1310.950000,...,73.301552,99.081200,-0.880000,14870.000000,4.076000,2.765000,20.766000,1840.500000,1488.620000,2134144.363636
2023-04,-16.900000,92.300000,101.500000,10336.900000,84.300000,2463.700000,-0.050000,426683640.000000,95.030000,1307.890000,...,74.881462,99.135100,-0.540000,9171.000000,4.045500,2.097000,24.021000,1983.900000,1487.660000,2155713.700000

In [57]:
# df2.to_csv('new_OBV.csv')